.p50 {
	padding: 50px;
}

.p20 {
	padding: 20px;
}

.fR {
	float: right;
}

.mb10 {
	margin-bottom: 10px;
}

.mb20 {
	margin-bottom: 20px;
}

.tAC {
	text-align: center;
}

.mA {
	margin: 0 auto;
}

.color_negro {
	color: #000;
}